@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

a{
    color: black;
}

body{
    width: 100vw;
    overflow-x:hidden;
}

.slide-enter-active, .slide-leave-active{
    /* transform: translateX(0);
    opacity: 1; */
    transition: opacity 0.5s, transform 0.5s;
}

.slide-enter{
    transform : translateX(100%);
    opacity: 0;
}
.slide-leave-to{
    transform : translateX(-100%);
    opacity: 0;
}

.alert-enter-active, .alert-leave-active{
    transition: all 0.5s;
    bottom: 70px;
}
/* 
.alert-enter{
    bottom: -70px;
}
.alert-leave-to{
    bottom: -70px;
} */

button{
    border: none;
}